telegram:
  bot_token: "YOUR_BOT_TOKEN"
  chat_id: 0

plugins:
  toogoodtogo:
    email: "your@email.com"
    interval: "5m"

  btcprice:
    interval: "1m"
    above_usd: 100000.0
    below_usd: 50000.0
    change_percent: 5.0
    cooldown: "30m"
